<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>configure</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
     integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" 
     crossorigin="anonymous">
</head>
<body>
    <form method="POST" action="/addCookie" class="form-horizontal">
        <div class="form-group">
            <label>Number of words: </label>
            <input type="number" name="nOfChar" value="nOfChar" id="nOfChar">
            <fieldset id="difficulty" name="difficulty">
                <Label>Difficulty of words</Label><br>
                <input type="radio" name="difficulty" value="easy">
                <Label>Easy</Label>
                <input type="radio" name="difficulty" value="difficult">
                <Label>Hard</Label>
            </fieldset>
        </div>
        <button type="submit">Submit</button>
        <button type="button" value="Back" class="btn btn-primary" onclick="goBack()">Back</button>
        <script>
            function goBack() {
            location.replace("/")
        }
        </script>
    </form>
</body>
</html>